In [1]:
#import reuired Libraries
import pandas as pd
import string
from nltk.corpus import stopwords

In [2]:
#Get the spam data collection 
df_spamCollection = pd.read_csv("C:/Users/SpamCollection", sep='\t', names=['response','messages'])

In [3]:
#view response 
df_spamCollection.head()

  response                                           messages
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
#view more information about the spam data using describe method
df_spamCollection.describe()

       response                messages
count      5572                    5572
unique        2                    5169
top         ham  Sorry, I'll call later
freq       4825                      30

In [5]:
#view response using group by and describe method
df_spamCollection.groupby('response').describe()

         messages                                                            \
            count unique                                                top
response
ham          4825   4516                             Sorry, I'll call later
spam          747    653  Please call our customer service representativ...


         freq
response
ham        30
spam        4

In [6]:
#Verify length of the messages and also add it as a new column 
df_spamCollection['length']= df_spamCollection['messages'].apply(len)

In [7]:
# view first 5 messages with length
df_spamCollection.head()

  response                                           messages  length
0      ham  Go until jurong point, crazy.. Available only ...     111
1      ham                      Ok lar... Joking wif u oni...      29
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3      ham  U dun say so early hor... U c already then say...      49
4      ham  Nah I don't think he goes to usf, he lives aro...      61

In [8]:
#define a function to get rid of stopwords present in the messages
def message_text_process(mess):
    #check characters to see if there are punctuations
    no_punctuation = [char for char in mess if char not in string.punctuation]
    #now from the sentence
    no_punctuation = ''.join(no_punctuation)
    #Now eliminate any stopwords
    return [word for word in no_punctuation.split() if word.lower() not in stopwords.words('english')]

In [9]:
#verify that the function is working
df_spamCollection['messages'].head(5).apply(message_text_process)

0    [Go, jurong, point, crazy, Available, bugis, n...
1                       [Ok, lar, Joking, wif, u, oni]
2    [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3        [U, dun, say, early, hor, U, c, already, say]
4    [Nah, dont, think, goes, usf, lives, around, t...
Name: messages, dtype: object

In [10]:
#start text processing with vectorizer 
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
#use bag of words by applying the function and fit the data into it
bag_of_words_transformer = CountVectorizer(analyzer= message_text_process).fit(df_spamCollection['messages'])

In [13]:
#print length of bag of words stored in the vocabulary_ attribut
print (len(bag_of_words_transformer.vocabulary_))
print (bag_of_words_transformer)

11425
CountVectorizer(analyzer=<function message_text_process at 0x000001D0E9D920D0>,
        binary=False, decode_error='strict', dtype=<class 'numpy.int64'>,
        encoding='utf-8', input='content', lowercase=True, max_df=1.0,
        max_features=None, min_df=1, ngram_range=(1, 1), preprocessor=None,
        stop_words=None, strip_accents=None,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, vocabulary=None)

In [14]:
# store bag of words for messages using transformer method
message_bagofwords =bag_of_words_transformer.transform(df_spamCollection['messages'])

In [17]:
print(message_bagofwords)

  (0, 1110)	1
  (0, 1483)	1
  (0, 2060)	1
  (0, 4653)	1
  (0, 5217)	1
  (0, 5218)	1
  (0, 5769)	1
  (0, 6217)	1
  (0, 6906)	1
  (0, 6937)	1
  (0, 7555)	1
  (0, 7668)	1
  (0, 8336)	1
  (0, 8917)	1
  (0, 10965)	1
  (0, 11163)	1
  (1, 2451)	1
  (1, 3064)	1
  (1, 7701)	1
  (1, 8590)	1
  (1, 10698)	1
  (1, 11072)	1
  (2, 73)	1
  (2, 423)	1
  (2, 430)	1
  :	:
  (5568, 6691)	1
  (5568, 6882)	1
  (5568, 7159)	1
  (5568, 11418)	1
  (5569, 3228)	1
  (5569, 3721)	1
  (5569, 8252)	1
  (5569, 10199)	1
  (5570, 4508)	1
  (5570, 5055)	1
  (5570, 5251)	1
  (5570, 6282)	1
  (5570, 6699)	1
  (5570, 6799)	1
  (5570, 6984)	1
  (5570, 7287)	1
  (5570, 7394)	1
  (5570, 7800)	1
  (5570, 8420)	1
  (5570, 9915)	1
  (5570, 10787)	1
  (5570, 11006)	1
  (5571, 3431)	1
  (5571, 8348)	1
  (5571, 10648)	1

In [18]:
#apply tfidf transformer and fit the bag of words into it (transformed version)
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer().fit(message_bagofwords)

In [19]:
#print shape of the tfidf 
message_tfidf = tfidf_transformer.transform(message_bagofwords)
print (message_tfidf.shape)

(5572, 11425)

In [20]:
print (message_tfidf)

  (0, 11163)	0.230266855924
  (0, 10965)	0.190734285451
  (0, 8917)	0.247046523768
  (0, 8336)	0.170468692922
  (0, 7668)	0.264033840655
  (0, 7555)	0.312538562607
  (0, 6937)	0.183469241361
  (0, 6906)	0.151584746647
  (0, 6217)	0.189155577328
  (0, 5769)	0.24984711893
  (0, 5218)	0.268705938625
  (0, 5217)	0.298351840882
  (0, 4653)	0.312538562607
  (0, 2060)	0.242039602564
  (0, 1483)	0.312538562607
  (0, 1110)	0.288286201631
  (1, 11072)	0.400615609824
  (1, 10698)	0.206363748132
  (1, 8590)	0.504340590131
  (1, 7701)	0.376740107081
  (1, 3064)	0.291199541124
  (1, 2451)	0.561988811929
  (2, 11123)	0.191043872205
  (2, 11084)	0.158981453472
  (2, 10686)	0.139955408208
  :	:
  (5568, 6882)	0.313674697762
  (5568, 6691)	0.477810764018
  (5568, 6354)	0.557572104865
  (5568, 4880)	0.385312208609
  (5569, 10199)	0.520467167164
  (5569, 8252)	0.432829970906
  (5569, 3721)	0.520467167164
  (5569, 3228)	0.520467167164
  (5570, 11006)	0.204345259945
  (5570, 10787)	0.228678434865
  (5570, 9915)	0.223802283762
  (5570, 8420)	0.226516757572
  (5570, 7800)	0.172438881848
  (5570, 7394)	0.307147523481
  (5570, 7287)	0.267866779355
  (5570, 6984)	0.264164044012
  (5570, 6799)	0.294185812624
  (5570, 6699)	0.200837653433
  (5570, 6282)	0.260770243908
  (5570, 5251)	0.302353515741
  (5570, 5055)	0.363572507445
  (5570, 4508)	0.347069257583
  (5571, 10648)	0.539218119882
  (5571, 8348)	0.485429154081
  (5571, 3431)	0.688187732787

In [27]:
#choose naive Bayes model to detect the spam and fit the tfidf data into it
from sklearn.naive_bayes import MultinomialNB
spam_detect_model = MultinomialNB().fit(message_tfidf,df_spamCollection['response'])

In [29]:
#check model for the predicted and expected value say for message#2 and message#5
#message = df_spamCollection['messages'][2]
#bag_of_words_for_message = bag_of_words_transformer.transform([message])
#tfidf = tfidf_transformer.transform(bag_of_words_for_message)

print('predicted',spam_detect_model.predict(tfidf)[0])
print('expected',df_spamCollection.response[4])

predicted spam
expected ham